workflow/Lead Gen Pipeline - Production Hardened.json
{
  "name": "Lead Gen Pipeline - Production Hardened - Gmail Verification Fixed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4304,
        400
      ],
      "id": "d4a91d8a-3bcd-4c61-827c-69a4a3cf7fe3",
      "name": "Start Pipeline"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0nf1g00-0000-4000-8000-00000000000a",
              "name": "leads_tab",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-00000000000b",
              "name": "tracker_tab",
              "value": "Tracker",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-00000000000c",
              "name": "max_attempts",
              "value": 3,
              "type": "number"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003a",
              "name": "ai_provider",
              "value": "chatgpt",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003b",
              "name": "chatgpt_worker_url",
              "value": "http://host.docker.internal:8787",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003",
              "name": "grok_worker_url",
              "value": "http://host.docker.internal:8788",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003c",
              "name": "api_worker_url",
              "value": "http://host.docker.internal:8789",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000004",
              "name": "sheet_id",
              "value": "PASTE_YOUR_GOOGLE_SHEET_ID_HERE",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000001",
              "name": "batch_size",
              "value": 2,
              "type": "number"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000002",
              "name": "attachment_dir",
              "value": "/home/node/.n8n-files/assets/attachments",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000003",
              "name": "email_signature",
              "value": "Best,\n<br>\n[Your Name]\n<br>\n[Your Title]\n<br>\nyou@example.com",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000004",
              "name": "sender_name",
              "value": "[Your Name]",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000005",
              "name": "paused",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "9bf689f3-debc-428e-8b8c-a333e569996c",
              "name": "processing_stale_minutes",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a49c8dbb-1a99-4700-ab69-925d347cbc10",
              "name": "batch_summary_wait_seconds",
              "value": 3,
              "type": "number"
            },
            {
              "id": "4b6599fc-2a48-4778-8469-87f3d7159a09",
              "name": "min_email_body_chars",
              "value": 80,
              "type": "number"
            },
            {
              "id": "fe814cd3-7edc-4da6-9aeb-40976b2a6800",
              "name": "max_attachment_files",
              "value": 5,
              "type": "number"
            },
            {
              "id": "dd5d7631-5700-4561-8b6d-42769d3ede57",
              "name": "max_attachment_total_bytes",
              "value": 20000000,
              "type": "number"
            },
            {
              "id": "d2c3463f-9960-415e-bcc9-a5d9ab76356c",
              "name": "allowed_attachment_extensions",
              "value": "pdf,doc,docx,ppt,pptx,xls,xlsx,csv,txt,png,jpg,jpeg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4080,
        400
      ],
      "id": "a92023fe-9792-4e40-9fa3-ab74b45380a1",
      "name": "Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/session-check' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { context: $json } }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3616,
        400
      ],
      "id": "52ecf9c6-e1db-4060-a912-3c2d7cdda310",
      "name": "Session Check",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\nconst ready = payload.ready === true || payload.context?.ready === true;\nconst reason = String(\n  payload.reason ||\n  payload.context?.reason ||\n  payload.error?.message ||\n  payload.message ||\n  (ready ? 'Session ready.' : 'Worker session is not ready.')\n).trim();\n\nreturn [{\n  json: {\n    ready,\n    reason,\n    context: payload.context && typeof payload.context === 'object'\n      ? payload.context\n      : $('Config').first().json,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        400
      ],
      "id": "47c96624-6f7c-4a00-87f7-f54c6718644c",
      "name": "Normalize Session Result",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72f8fd81-ed5c-4e13-b2a6-f306c224f5cf",
              "leftValue": "={{ $json.ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3136,
        400
      ],
      "id": "ce531113-7aed-4ae0-a761-a4562be11461",
      "name": "Session Ready?"
    },
    {
      "parameters": {
        "jsCode": "const err = $json?.error;\nconst message = String(\n  $json?.reason ||\n  (typeof err === 'string' ? err : err?.message) ||\n  $json?.message ||\n  'Session check failed.'\n).trim();\n\nreturn [{\n  json: {\n    status: 'Failed',\n    failed_stage: 'session_check',\n    error_message: message,\n    operator_action: `Session check failed: ${message}`,\n    updated_at: new Date().toISOString(),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        560
      ],
      "id": "243e0e3f-bc6e-41b0-8cf5-1c55debfd2c5",
      "name": "Set Session Failure"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.operator_action }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2656,
        560
      ],
      "id": "90aeac7c-040f-486a-8f9b-f3a3df61d2f5",
      "name": "Stop: Session Failure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/run-stage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { stage: 'research', context: $json } }}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        640
      ],
      "id": "bbd0ac7b-303f-427c-9fe7-ded3cc6a72b2",
      "name": "Run Stage 1 Research",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\nconst err = payload.error;\nif (err) {\n  throw new Error(typeof err === 'string' ? err : (err.message || JSON.stringify(err)));\n}\nconst context = payload.context && typeof payload.context === 'object'\n  ? payload.context\n  : null;\nif (!context) throw new Error('Stage 1 response did not contain a context object.');\nif (!context.lead?.email) throw new Error('Stage 1 context lost lead.email.');\n\nconst status = String(context.status || '').trim().toLowerCase();\nif (status === 'failed' || status === 'error') {\n  throw new Error(String(context.operator_action || context.reason || 'Stage 1 returned failed status.'));\n}\n\nconst stage = context.stage1;\nif (!stage || typeof stage !== 'object') {\n  throw new Error('Stage 1 response did not contain context.stage1.');\n}\nconst hasOutput = [stage.responseText, stage.mdPath, stage.path, stage.filePath, stage.output]\n  .some(v => String(v ?? '').trim() !== '');\nif (!hasOutput) throw new Error('Stage 1 completed without a usable output or artifact path.');\n\nreturn [{ json: {\n  ...context,\n  status: 'Processing',\n  stage1_status: 'completed',\n  updated_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        640
      ],
      "id": "3dd9aa73-fbf0-4c36-a542-1852ce516214",
      "name": "Adopt Stage 1 Context",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/run-stage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { stage: 'review', context: $json } }}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        640
      ],
      "id": "6746a5cb-aac6-4596-9df1-0e33bf06d502",
      "name": "Run Stage 2 Review",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\nconst err = payload.error;\nif (err) {\n  throw new Error(typeof err === 'string' ? err : (err.message || JSON.stringify(err)));\n}\nconst context = payload.context && typeof payload.context === 'object'\n  ? payload.context\n  : null;\nif (!context) throw new Error('Stage 2 response did not contain a context object.');\nif (!context.lead?.email) throw new Error('Stage 2 context lost lead.email.');\n\nconst status = String(context.status || '').trim().toLowerCase();\nif (status === 'failed' || status === 'error') {\n  throw new Error(String(context.operator_action || context.reason || 'Stage 2 returned failed status.'));\n}\n\nconst stage = context.stage2;\nif (!stage || typeof stage !== 'object') {\n  throw new Error('Stage 2 response did not contain context.stage2.');\n}\nconst hasOutput = [stage.responseText, stage.mdPath, stage.path, stage.filePath, stage.output]\n  .some(v => String(v ?? '').trim() !== '');\nif (!hasOutput) throw new Error('Stage 2 completed without a usable output or artifact path.');\n\nreturn [{ json: {\n  ...context,\n  status: 'Processing',\n  stage2_status: 'completed',\n  updated_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        640
      ],
      "id": "a16079d6-ae1a-4fcd-927d-f0bcc64928fd",
      "name": "Adopt Stage 2 Context",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/run-stage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { stage: 'final_email', context: $json } }}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        640
      ],
      "id": "35a36af9-a486-471f-ac26-1c974040b717",
      "name": "Run Stage 3 Final Email",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\nconst err = payload.error;\nif (err) {\n  throw new Error(typeof err === 'string' ? err : (err.message || JSON.stringify(err)));\n}\nconst context = payload.context && typeof payload.context === 'object'\n  ? payload.context\n  : null;\nif (!context) throw new Error('Stage 3 response did not contain a context object.');\nif (!context.lead?.email) throw new Error('Stage 3 context lost lead.email.');\n\nconst status = String(context.status || '').trim().toLowerCase();\nif (status === 'failed' || status === 'error') {\n  throw new Error(String(context.operator_action || context.reason || 'Stage 3 returned failed status.'));\n}\n\nconst stage = context.stage3;\nif (!stage || typeof stage !== 'object') {\n  throw new Error('Stage 3 response did not contain context.stage3.');\n}\nconst hasOutput = [stage.responseText, stage.mdPath, stage.path, stage.filePath, stage.output]\n  .some(v => String(v ?? '').trim() !== '');\nif (!hasOutput) throw new Error('Stage 3 completed without a usable output or artifact path.');\n\nreturn [{ json: {\n  ...context,\n  status: 'Processing',\n  stage3_status: 'completed',\n  updated_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        640
      ],
      "id": "ed73d3de-72f5-4e55-b077-d0bc7337c4e4",
      "name": "Adopt Stage 3 Context",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Format Email').item.json.email_subject }}",
        "emailType": "html",
        "message": "={{ $('Format Email').item.json.email_body }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "sendTo": "={{ $('Format Email').item.json.recipient }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        480
      ],
      "id": "9da331a1-6d6f-4f91-96cb-ebda5edc38c8",
      "name": "Create Gmail Draft",
      "webhookId": "32bf04d3-b157-4bff-b74b-926dfedc4bae",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const warnings = [\n  $json.email_warning,\n  $json.attachment_warning,\n  $json.gmail_verification_warning,\n].filter(Boolean);\n\nreturn [{ json: {\n  ...$json,\n  status: 'Draft_Created',\n  failed_stage: '',\n  error_code: '',\n  error_message: '',\n  retryable: false,\n  draft_may_exist: true,\n  gmail_verified: true,\n  updated_at: new Date().toISOString(),\n  operator_action: warnings.length\n    ? `Draft created and verified. Review in Gmail before sending. Warnings: ${warnings.join(' | ')}`\n    : 'Draft created and verified. Review in Gmail before sending.',\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        640
      ],
      "id": "f5bf4735-a947-4635-9ad2-3f48dafa5007",
      "name": "Set Draft Created",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.tracker_tab }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2656,
        400
      ],
      "id": "a8da2dd9-3437-429a-8af2-962e6f600388",
      "name": "Read Tracker Sheet",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Select up to Config.batch_size eligible leads. Status and email comparisons are normalized.\nconst cfg = $('Config').first().json;\nconst str = (v) => (v === null || v === undefined) ? '' : String(v);\nconst norm = (v) => str(v).trim().toLowerCase();\nconst normStatus = (v) => norm(v).replace(/[\\s-]+/g, '_');\nconst normLi = (v) => norm(v).replace(/^https?:\\/\\/(www\\.)?/, '').replace(/\\/+$/, '');\nconst emailOkay = (v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(str(v).trim());\nconst dateMs = (v) => {\n  const ms = Date.parse(str(v));\n  return Number.isFinite(ms) ? ms : 0;\n};\n\nconst paused = cfg.paused === true || norm(cfg.paused) === 'true';\nconst batchSize = Math.max(1, Number(cfg.batch_size || 10));\nconst maxAttempts = Math.max(1, Number(cfg.max_attempts || 3));\nconst staleMs = Math.max(1, Number(cfg.processing_stale_minutes || 60)) * 60 * 1000;\n\nlet executionId = '';\ntry { executionId = str($execution.id); } catch (e) {}\nconst runId = executionId\n  ? `exec_${executionId}`\n  : `run_${Date.now()}_${Math.random().toString(36).slice(2, 10)}`;\n\nif (paused) {\n  return [{ json: {\n    is_lead: false,\n    no_work: true,\n    reason: 'Pipeline is paused in Config.paused=true.',\n    run_id: runId,\n  } }];\n}\n\nconst leadRows = $('Read Leads Tab').all().map(i => i.json || {});\nif (!leadRows.length) {\n  return [{ json: {\n    is_lead: false,\n    no_work: true,\n    reason: 'Leads tab returned no rows.',\n    run_id: runId,\n  } }];\n}\n\nlet trackerRows = [];\ntry {\n  trackerRows = $('Read Tracker Sheet').all()\n    .map(i => i.json || {})\n    .filter(r => Object.values(r).some(v => str(v).trim() !== ''));\n} catch (e) {}\n\n// Keep the newest row for each normalized email if duplicate tracker rows exist.\nconst trackerByEmail = new Map();\nfor (const row of trackerRows) {\n  const key = norm(row.email);\n  if (!key) continue;\n  const previous = trackerByEmail.get(key);\n  if (!previous || dateMs(row.updated_at) >= dateMs(previous.updated_at)) {\n    trackerByEmail.set(key, row);\n  }\n}\n\nconst TERMINAL = new Set([\n  'draft_created',\n  'skip',\n  'do_not_contact',\n  'unsubscribed',\n  'manual_review',\n  'draft_unverified',\n]);\nconst doneEmail = new Set();\nconst doneLi = new Set();\n\nfor (const row of trackerByEmail.values()) {\n  const status = normStatus(row.status);\n  const attempts = Number(row.attempts || 0);\n  const burnt = status === 'failed' && attempts >= maxAttempts;\n  const processingIsFresh = status === 'processing' &&\n    dateMs(row.updated_at) > 0 &&\n    (Date.now() - dateMs(row.updated_at)) < staleMs;\n\n  if (!TERMINAL.has(status) && !burnt && !processingIsFresh) continue;\n  const email = norm(row.email);\n  const linkedin = normLi(row.linkedinUrl || row.linkedin_url);\n  if (email) doneEmail.add(email);\n  if (linkedin) doneLi.add(linkedin);\n}\n\nconst joinArr = (row, prefix) => {\n  const values = [];\n  for (let i = 0; i < 40; i++) {\n    const value = str(row[`${prefix}/${i}`]).trim();\n    if (value) values.push(value);\n  }\n  return values.join(', ');\n};\n\nconst seenEmail = new Set();\nconst seenLi = new Set();\nconst out = [];\n\nfor (const raw of leadRows) {\n  const row = {};\n  for (const [key, value] of Object.entries(raw)) row[key] = str(value);\n\n  const email = norm(row.email);\n  if (!emailOkay(email)) continue;\n  const linkedin = normLi(row.linkedinUrl);\n\n  if (doneEmail.has(email) || seenEmail.has(email)) continue;\n  if (linkedin && (doneLi.has(linkedin) || seenLi.has(linkedin))) continue;\n\n  seenEmail.add(email);\n  if (linkedin) seenLi.add(linkedin);\n\n  const previous = trackerByEmail.get(email) || {};\n  const attempts = Number(previous.attempts || 0) + 1;\n\n  const lead = {\n    ...row,\n    email,\n    name: row.fullName || [row.firstName, row.lastName].filter(Boolean).join(' ').trim() || email,\n    title: row.position || row.title || '',\n    organization_name: row.companyName || 'Unknown Company',\n    organization_industry: joinArr(row, 'companyIndustry'),\n    organization_size: row.companySizeRange || row.companySize || '',\n    organization_founded_year: row.foundedYear || '',\n    organization_description: row.companyDescription || '',\n    organization_specialities: joinArr(row, 'companySpecialties'),\n    organization_website: row.companyDomain || '',\n    organization_linkedin: row.companyLinkedinUrl || '',\n    linkedin_url: row.linkedinUrl || '',\n    seniority: row.seniority || '',\n    functional: row.functional || joinArr(row, 'functions'),\n    phone_numbers: row.phone || '',\n    all_emails: email,\n    city: row.personCity || row.companyCity || '',\n    state: row.personState || row.companyState || '',\n    country: row.personCountry || row.companyCountry || '',\n    annual_revenue: row.annualRevenue || '',\n    total_funding: row.totalFunding || '',\n    funding_stage: row.fundingStage || '',\n    technologies: joinArr(row, 'technologies'),\n    company_audience: row.companyAudience || '',\n    email_status: row.emailStatus || '',\n  };\n\n  const provider = String(cfg.ai_provider || 'chatgpt');\n  const workerUrl = String(cfg[`${provider}_worker_url`] || cfg.chatgpt_worker_url || '');\n\n  out.push({ json: {\n    is_lead: true,\n    no_work: false,\n    execution_id: executionId,\n    run_id: runId,\n    status: 'Fetched',\n    operator_action: `Selected as lead ${out.length + 1}/${batchSize}.`,\n    updated_at: new Date().toISOString(),\n    attempts,\n    lead,\n    raw_apollo_json: JSON.stringify(lead),\n    idempotency_key: email,\n    worker_url: workerUrl,\n    grok_worker_url: workerUrl,\n  } });\n\n  if (out.length >= batchSize) break;\n}\n\nif (!out.length) {\n  return [{ json: {\n    is_lead: false,\n    no_work: true,\n    reason: `No eligible leads. Leads rows=${leadRows.length}; Tracker rows=${trackerRows.length}; batch_size=${batchSize}; max_attempts=${maxAttempts}.`,\n    run_id: runId,\n    execution_id: executionId,\n  } }];\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        400
      ],
      "id": "8cba14e1-99af-400b-9f33-39f5bf64600f",
      "name": "Select Batch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1936,
        528
      ],
      "id": "28b4317b-3a6e-417b-84d8-c99c2b6d38b9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/new-chat' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { context: $json } }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        640
      ],
      "id": "da860c11-35cd-41e5-81c5-fe5557059549",
      "name": "New Chat",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const a3 = $('Adopt Stage 3 Context').item.json || $json || {};\nconst cfg = $('Config').first().json;\nconst lead = a3.lead || {};\nconst raw = String(a3.stage3?.responseText || a3.stage3?.output || '').trim();\nconst recipient = String(lead.email || '').trim().toLowerCase();\n\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(recipient)) {\n  throw new Error(`Invalid recipient email: ${recipient || 'missing'}`);\n}\nif (!raw) throw new Error('Stage 3 returned an empty final-email response.');\n\nconst subjectMatch = raw.match(/^\\s*Subject:\\s*(.+)$/im);\nlet subject = subjectMatch ? subjectMatch[1].trim() : '';\nlet body = raw;\nif (subjectMatch) {\n  const index = raw.indexOf(subjectMatch[0]) + subjectMatch[0].length;\n  body = raw.slice(index).replace(/^\\s*\\r?\\n/, '').trim();\n} else {\n  body = raw.replace(/^\\s*To:.*$/im, '').trim();\n}\nbody = body\n  .replace(/^\\s*Subject:.*$/im, '')\n  .replace(/\\n+\\s*(Best|Regards|Sincerely),?\\s*(\\n[^\\n]*)?\\s*$/i, '')\n  .trim();\n\nif (!subject) subject = `Quick question about ${lead.organization_name || 'your company'}`;\nlet signature = String(cfg.email_signature || '').trim();\nconst unresolved = /\\[(your name|your title|company|insert|name)\\]|you@example\\.com/i;\nlet emailWarning = '';\nif (signature && unresolved.test(signature)) {\n  emailWarning = 'Configured signature contained placeholders and was omitted. Update Config.email_signature before production use.';\n  signature = '';\n}\nif (unresolved.test(subject) || unresolved.test(body)) {\n  throw new Error('Generated email contains unresolved placeholder text.');\n}\nconst emailBody = signature ? `${body}\\n\\n${signature}` : body;\nconst minChars = Math.max(20, Number(cfg.min_email_body_chars || 80));\n\nif (subject.length < 3 || subject.length > 200) {\n  throw new Error(`Email subject length is invalid (${subject.length} characters).`);\n}\nif (emailBody.length < minChars) {\n  throw new Error(`Email body is too short (${emailBody.length} characters; minimum ${minChars}).`);\n}\nif (!body || (signature && emailBody.trim() === signature)) {\n  throw new Error('Email body is empty or signature-only.');\n}\n\nreturn [{ json: {\n  ...a3,\n  email_subject: subject,\n  email_body: emailBody,\n  recipient,\n  formatted_email_valid: true,\n  email_warning: emailWarning,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        640
      ],
      "id": "a743e36a-4530-4bce-aa22-d43698fb1118",
      "name": "Format Email",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Config').first().json.attachment_dir + '/*' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1680,
        640
      ],
      "id": "a6c6ca46-fe27-44fc-83de-429cf874bed1",
      "name": "Read Attachment",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.tracker_tab }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1680,
        160
      ],
      "id": "7cd8c1e4-6bb8-408c-ae49-26750a62578b",
      "name": "Read Batch Result",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const selected = $('Select Batch').all()\n  .map(i => i.json || {})\n  .filter(i => i.is_lead === true);\nconst expected = selected.length;\nconst norm = (v) => String(v ?? '').trim().toLowerCase();\nconst normStatus = (v) => norm(v).replace(/[\\s-]+/g, '_');\nconst dateMs = (v) => {\n  const ms = Date.parse(String(v ?? ''));\n  return Number.isFinite(ms) ? ms : 0;\n};\n\nlet rows = [];\ntry {\n  rows = $('Read Batch Result Retry').all().map(i => i.json || {});\n} catch (e) {}\nif (!rows.length) {\n  try { rows = $('Read Batch Result').all().map(i => i.json || {}); } catch (e) {}\n}\n\nconst selectedByKey = new Map(selected.map(item => [\n  `${norm(item.lead?.email)}|${String(item.run_id || '')}`,\n  item,\n]));\n\n// Deduplicate by normalized email + current run ID, keeping the newest row.\nconst latest = new Map();\nfor (const row of rows) {\n  const key = `${norm(row.email)}|${String(row.run_id || '')}`;\n  if (!selectedByKey.has(key)) continue;\n  const previous = latest.get(key);\n  if (!previous || dateMs(row.updated_at) >= dateMs(previous.updated_at)) latest.set(key, row);\n}\n\nconst results = [];\nfor (const [key, item] of selectedByKey.entries()) {\n  const row = latest.get(key);\n  results.push({\n    email: norm(item.lead?.email),\n    run_id: String(item.run_id || ''),\n    status: row ? String(row.status || 'No Status') : 'Missing',\n    normalized_status: row ? normStatus(row.status) : 'missing',\n    operator_action: row ? String(row.operator_action || '') : 'No current-run Tracker row was visible.',\n  });\n}\n\nconst drafted = results.filter(r => r.normalized_status === 'draft_created').length;\nconst failed = results.filter(r => r.normalized_status === 'failed').length;\nconst manualReview = results.filter(r => ['manual_review', 'draft_unverified'].includes(r.normalized_status)).length;\nconst missing = results.filter(r => r.normalized_status === 'missing').length;\nconst other = results.filter(r => ![\n  'draft_created', 'failed', 'manual_review', 'draft_unverified', 'missing'\n].includes(r.normalized_status)).length;\n\nlet outcome = 'success';\nif (missing > 0 || other > 0) outcome = 'consistency_error';\nelse if (drafted === expected && expected > 0) outcome = 'success';\nelse if (drafted > 0) outcome = 'warning';\nelse outcome = 'error';\n\nconst summary = `Batch: ${drafted} drafted, ${failed} failed, ${manualReview} manual review, ${missing} missing (of ${expected} leads).`;\nconst details = results\n  .filter(r => r.normalized_status !== 'draft_created')\n  .map(r => `${r.email}: ${r.status}${r.operator_action ? ` — ${r.operator_action}` : ''}`);\n\nreturn [{ json: {\n  outcome,\n  expected,\n  drafted,\n  failed,\n  manual_review: manualReview,\n  missing,\n  other,\n  summary,\n  details,\n  error_message: details.length ? summary + ' | ' + details.join(' | ') : summary,\n  results,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        160
      ],
      "id": "2900da8f-9b51-4502-9046-7422ab363ae1",
      "name": "Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fe = $('Format Email').item.json;\nconst cfg = $('Config').first().json;\nconst maxFiles = Math.max(0, Number(cfg.max_attachment_files || 5));\nconst maxBytes = Math.max(0, Number(cfg.max_attachment_total_bytes || 20000000));\nconst allowed = new Set(String(cfg.allowed_attachment_extensions || '')\n  .split(',').map(v => v.trim().toLowerCase()).filter(Boolean));\n\nconst binary = {};\nconst warnings = [];\nlet count = 0;\nlet totalBytes = 0;\n\nfor (const item of items) {\n  if (!item.binary) {\n    if (item.json?.error?.message || item.json?.message) {\n      warnings.push(`Attachment read skipped: ${item.json?.error?.message || item.json?.message}`);\n    }\n    continue;\n  }\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key] || {};\n    const fileName = String(file.fileName || file.fileName || `attachment_${count}`);\n    const ext = fileName.includes('.') ? fileName.split('.').pop().toLowerCase() : '';\n    const size = Number(file.fileSize || file.fileSizeBytes || 0);\n\n    if (allowed.size && ext && !allowed.has(ext)) {\n      warnings.push(`Skipped disallowed attachment: ${fileName}`);\n      continue;\n    }\n    if (count >= maxFiles) {\n      warnings.push(`Skipped ${fileName}: maximum attachment count ${maxFiles} reached.`);\n      continue;\n    }\n    if (size > 0 && totalBytes + size > maxBytes) {\n      warnings.push(`Skipped ${fileName}: attachment size limit would be exceeded.`);\n      continue;\n    }\n    binary[`attachment_${count}`] = file;\n    count++;\n    totalBytes += Math.max(0, size);\n  }\n}\n\nconst out = {\n  json: {\n    ...fe,\n    attachment_count: count,\n    attachment_total_bytes: totalBytes,\n    attachment_warning: warnings.join(' | '),\n  },\n};\nif (count > 0) out.binary = binary;\nreturn [out];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        640
      ],
      "id": "ae97ed56-319c-4dab-bc0a-809fffa70580",
      "name": "Collect Attachments",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-0000-4000-8000-000000000702",
              "leftValue": "={{ $json.attachment_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        640
      ],
      "id": "f6706d66-8fe9-4709-b724-1dd564f2b86e",
      "name": "Has Attachments?"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Format Email').item.json.email_subject }}",
        "emailType": "html",
        "message": "={{ $('Format Email').item.json.email_body }}",
        "options": {
          "sendTo": "={{ $('Format Email').item.json.recipient }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        800
      ],
      "id": "36687e89-139b-4f6f-8d25-1a28c72166e5",
      "name": "Create Gmail Draft (No Attachment)",
      "webhookId": "6a1cc464-8cc1-446d-9810-76db9b75e729",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.leads_tab }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2896,
        400
      ],
      "id": "b288d306-eade-404d-be0b-5aca04a1acbf",
      "name": "Read Leads Tab",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst clean = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'object') {\n    try { return JSON.stringify(v); } catch (e) { return String(v); }\n  }\n  return String(v);\n};\nconst clip = (v, max = 4000) => clean(v).slice(0, max);\nconst stageValue = (stage) => {\n  if (!stage || typeof stage !== 'object') return '';\n  return clip(stage.mdPath || stage.path || stage.filePath || stage.responseText || stage.output || stage);\n};\n\nlet a1 = {}, a2 = {}, a3 = {}, formatted = {}, created = {};\ntry { a1 = $('Adopt Stage 1 Context').item.json || {}; } catch (e) {}\ntry { a2 = $('Adopt Stage 2 Context').item.json || {}; } catch (e) {}\ntry { a3 = $('Adopt Stage 3 Context').item.json || {}; } catch (e) {}\ntry { formatted = $('Format Email').item.json || {}; } catch (e) {}\ntry { created = $('Preserve Draft Creation').item.json || {}; } catch (e) {}\n\nconst lead = current.lead || a3.lead || a2.lead || a1.lead || loop.lead || {};\nconst status = clean(current.status || 'Failed').trim() || 'Failed';\nconst success = status.toLowerCase() === 'draft_created';\nconst errorMessage = clip(\n  current.error_message ||\n  (typeof current.error === 'string' ? current.error : current.error?.message) ||\n  current.message ||\n  ''\n);\n\nconst gmailDraftId = clean(\n  current.gmail_draft_id || created.gmail_draft_id || current.id || ''\n);\nconst gmailMessageId = clean(\n  current.gmail_message_id || created.gmail_message_id || current.messageId || ''\n);\n\nreturn [{ json: {\n  email: clean(lead.email).trim().toLowerCase(),\n  fullName: clean(lead.fullName || lead.name),\n  companyName: clean(lead.companyName || lead.organization_name),\n  companyLinkedinUrl: clean(lead.companyLinkedinUrl || lead.organization_linkedin),\n  linkedinUrl: clean(lead.linkedinUrl || lead.linkedin_url),\n  position: clean(lead.position || lead.title),\n  emailStatus: clean(lead.emailStatus || lead.email_status),\n  rowType: clean(lead.rowType || 'tracker'),\n\n  status,\n  operator_action: clip(current.operator_action || (success\n    ? 'Draft created and verified. Review in Gmail before sending.'\n    : `Pipeline failed: ${errorMessage || 'Unknown error'}`)),\n  failed_stage: clean(current.failed_stage),\n  error_code: clean(current.error_code),\n  error_message: errorMessage,\n  retryable: clean(current.retryable ?? (!success)),\n  draft_may_exist: clean(current.draft_may_exist ?? Boolean(gmailDraftId)),\n  gmail_verified: clean(current.gmail_verified ?? success),\n\n  run_id: clean(current.run_id || a3.run_id || a2.run_id || a1.run_id || loop.run_id),\n  execution_id: clean(current.execution_id || loop.execution_id),\n  processing_started_at: clean(current.processing_started_at || loop.processing_started_at),\n  updated_at: clean(current.updated_at || new Date().toISOString()),\n\n  stage1: stageValue(a3.stage1 || a2.stage1 || a1.stage1),\n  stage1_status: clean(a3.stage1_status || a2.stage1_status || a1.stage1_status || (a1.stage1 ? 'completed' : '')),\n  stage1_error: clean(current.failed_stage === 'stage1_research' ? errorMessage : ''),\n  stage2: stageValue(a3.stage2 || a2.stage2),\n  stage2_status: clean(a3.stage2_status || a2.stage2_status || (a2.stage2 ? 'completed' : '')),\n  stage2_error: clean(current.failed_stage === 'stage2_review' ? errorMessage : ''),\n  stage3: stageValue(a3.stage3),\n  stage3_status: clean(a3.stage3_status || (a3.stage3 ? 'completed' : '')),\n  stage3_error: clean(current.failed_stage === 'stage3_final_email' ? errorMessage : ''),\n\n  attempts: clean(loop.attempts || current.attempts || 1),\n  idempotency_key: clean(loop.idempotency_key || current.idempotency_key || lead.email).trim().toLowerCase(),\n  id: gmailDraftId || clean(current.id || ''),\n  email_subject: clean(current.email_subject || created.email_subject || formatted.email_subject),\n  recipient: clean(current.recipient || created.recipient || formatted.recipient || lead.email),\n  gmail_draft_id: gmailDraftId,\n  gmail_message_id: gmailMessageId,\n  attachment_count: clean(current.attachment_count ?? created.attachment_count ?? formatted.attachment_count ?? 0),\n  attachment_warning: clip(current.attachment_warning || created.attachment_warning || formatted.attachment_warning),\n  email_warning: clip(current.email_warning || created.email_warning || formatted.email_warning),\n  gmail_verification_warning: clip(current.gmail_verification_warning || created.gmail_verification_warning || formatted.gmail_verification_warning),\n  verified_recipients: clip(current.verified_recipients || created.verified_recipients || ''),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        832
      ],
      "id": "a9ae6b87-200b-4e54-968c-14584d8f61e2",
      "name": "Build Final Tracker Record"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "get",
        "messageId": "={{ $json.gmail_draft_id }}",
        "options": {
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2880,
        640
      ],
      "id": "7fa68612-f315-45b1-8a0e-2f133b478f82",
      "name": "Verify Gmail Draft Exists",
      "webhookId": "10fc496c-9bce-4073-b3b7-551c2110ad34",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.tracker_tab }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "annualRevenue",
              "displayName": "annualRevenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyAudience",
              "displayName": "companyAudience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyCity",
              "displayName": "companyCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyCountry",
              "displayName": "companyCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyDescription",
              "displayName": "companyDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyDomain",
              "displayName": "companyDomain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/0",
              "displayName": "companyIndustry/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/1",
              "displayName": "companyIndustry/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/2",
              "displayName": "companyIndustry/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/3",
              "displayName": "companyIndustry/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/4",
              "displayName": "companyIndustry/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/5",
              "displayName": "companyIndustry/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyLinkedinUrl",
              "displayName": "companyLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySizeRange",
              "displayName": "companySizeRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/0",
              "displayName": "companySpecialties/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/1",
              "displayName": "companySpecialties/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/2",
              "displayName": "companySpecialties/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/3",
              "displayName": "companySpecialties/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/4",
              "displayName": "companySpecialties/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/5",
              "displayName": "companySpecialties/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/6",
              "displayName": "companySpecialties/6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/7",
              "displayName": "companySpecialties/7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyState",
              "displayName": "companyState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "foundedYear",
              "displayName": "foundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functions/0",
              "displayName": "functions/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functions/1",
              "displayName": "functions/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fundingStage",
              "displayName": "fundingStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personCity",
              "displayName": "personCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personCountry",
              "displayName": "personCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personState",
              "displayName": "personState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowType",
              "displayName": "rowType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/0",
              "displayName": "technologies/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/1",
              "displayName": "technologies/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/2",
              "displayName": "technologies/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/3",
              "displayName": "technologies/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/4",
              "displayName": "technologies/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/5",
              "displayName": "technologies/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/6",
              "displayName": "technologies/6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/7",
              "displayName": "technologies/7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/8",
              "displayName": "technologies/8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalFunding",
              "displayName": "totalFunding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_draft_id",
              "displayName": "gmail_draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "failed_stage",
              "displayName": "failed_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_code",
              "displayName": "error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retryable",
              "displayName": "retryable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "draft_may_exist",
              "displayName": "draft_may_exist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_verified",
              "displayName": "gmail_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_started_at",
              "displayName": "processing_started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage1_status",
              "displayName": "stage1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage1_error",
              "displayName": "stage1_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage2_status",
              "displayName": "stage2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage2_error",
              "displayName": "stage2_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage3_status",
              "displayName": "stage3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage3_error",
              "displayName": "stage3_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attachment_count",
              "displayName": "attachment_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attachment_warning",
              "displayName": "attachment_warning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_warning",
              "displayName": "email_warning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_verification_warning",
              "displayName": "gmail_verification_warning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "verified_recipients",
              "displayName": "verified_recipients",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3840,
        832
      ],
      "id": "be403a0e-30e3-4b30-8964-ef8d8d54ea3f",
      "name": "Upsert Final Tracker Row",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2500,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3aebc2d7-7511-4bdd-89a6-f953287b89ea",
              "leftValue": "={{ $json.is_lead === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        400
      ],
      "id": "4063e54a-e19a-4bf1-86fe-e208ddecb4e7",
      "name": "Has Eligible Lead?"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  outcome: 'no_work',\n  summary: String($json.reason || 'No eligible leads were available.'),\n  run_id: $json.run_id || '',\n  execution_id: $json.execution_id || '',\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        208
      ],
      "id": "8cf488ac-c45f-4642-a8fe-da0f8bfd6bb8",
      "name": "No Work Result"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || $json || {};\nconst lead = loop.lead || {};\nconst now = new Date().toISOString();\nreturn [{ json: {\n  email: String(lead.email || '').trim().toLowerCase(),\n  fullName: String(lead.fullName || lead.name || ''),\n  companyName: String(lead.companyName || lead.organization_name || ''),\n  companyLinkedinUrl: String(lead.companyLinkedinUrl || lead.organization_linkedin || ''),\n  linkedinUrl: String(lead.linkedinUrl || lead.linkedin_url || ''),\n  position: String(lead.position || lead.title || ''),\n  emailStatus: String(lead.emailStatus || lead.email_status || ''),\n  rowType: String(lead.rowType || 'tracker'),\n  status: 'Processing',\n  operator_action: 'Lead claimed by this execution and processing has started.',\n  run_id: String(loop.run_id || ''),\n  execution_id: String(loop.execution_id || ''),\n  processing_started_at: now,\n  updated_at: now,\n  attempts: String(loop.attempts || 1),\n  idempotency_key: String(loop.idempotency_key || lead.email || '').trim().toLowerCase(),\n  failed_stage: '',\n  error_code: '',\n  error_message: '',\n  retryable: 'true',\n  draft_may_exist: 'false',\n  gmail_verified: 'false',\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        640
      ],
      "id": "cf7cbd6c-b4c4-46af-add0-3a186d921f27",
      "name": "Build Processing Tracker Record"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.tracker_tab }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "annualRevenue",
              "displayName": "annualRevenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyAudience",
              "displayName": "companyAudience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyCity",
              "displayName": "companyCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyCountry",
              "displayName": "companyCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyDescription",
              "displayName": "companyDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyDomain",
              "displayName": "companyDomain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/0",
              "displayName": "companyIndustry/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/1",
              "displayName": "companyIndustry/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/2",
              "displayName": "companyIndustry/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/3",
              "displayName": "companyIndustry/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/4",
              "displayName": "companyIndustry/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyIndustry/5",
              "displayName": "companyIndustry/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyLinkedinUrl",
              "displayName": "companyLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySizeRange",
              "displayName": "companySizeRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/0",
              "displayName": "companySpecialties/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/1",
              "displayName": "companySpecialties/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/2",
              "displayName": "companySpecialties/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/3",
              "displayName": "companySpecialties/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/4",
              "displayName": "companySpecialties/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/5",
              "displayName": "companySpecialties/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/6",
              "displayName": "companySpecialties/6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companySpecialties/7",
              "displayName": "companySpecialties/7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyState",
              "displayName": "companyState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "foundedYear",
              "displayName": "foundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functions/0",
              "displayName": "functions/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functions/1",
              "displayName": "functions/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fundingStage",
              "displayName": "fundingStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personCity",
              "displayName": "personCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personCountry",
              "displayName": "personCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personState",
              "displayName": "personState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowType",
              "displayName": "rowType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/0",
              "displayName": "technologies/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/1",
              "displayName": "technologies/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/2",
              "displayName": "technologies/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/3",
              "displayName": "technologies/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/4",
              "displayName": "technologies/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/5",
              "displayName": "technologies/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/6",
              "displayName": "technologies/6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/7",
              "displayName": "technologies/7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technologies/8",
              "displayName": "technologies/8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalFunding",
              "displayName": "totalFunding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_draft_id",
              "displayName": "gmail_draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "failed_stage",
              "displayName": "failed_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_code",
              "displayName": "error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retryable",
              "displayName": "retryable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "draft_may_exist",
              "displayName": "draft_may_exist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gmail_verified",
              "displayName": "gmail_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_started_at",
              "displayName": "processing_started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage1_status",
              "displayName": "stage1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage1_error",
              "displayName": "stage1_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage2_status",
              "displayName": "stage2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage2_error",
              "displayName": "stage2_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage3_status",
              "displayName": "stage3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage3_error",
              "displayName": "stage3_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attachment_count",
              "displayName": "attachment_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "attachment_warning",
              "displayName": "attachment_warning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_warning",
              "displayName": "email_warning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -1680,
        640
      ],
      "id": "3dea0b20-e6b7-4dad-8687-ab93e8e9f08f",
      "name": "Upsert Processing Claim",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1440,
        640
      ],
      "id": "bd8a69ee-d451-4c81-8c5c-50583f28062d",
      "name": "Wait for Processing Claim",
      "webhookId": "66777aff-0f1a-408e-ba31-dee3c923555a"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.tracker_tab }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1200,
        640
      ],
      "id": "62ff382f-53be-4142-999c-80bba16dfcf1",
      "name": "Read Processing Claim",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst email = String(loop.lead?.email || '').trim().toLowerCase();\nconst runId = String(loop.run_id || '');\nconst rows = $input.all().map(i => i.json || {});\nconst norm = (v) => String(v ?? '').trim().toLowerCase();\nconst normStatus = (v) => norm(v).replace(/[\\s-]+/g, '_');\nconst dateMs = (v) => {\n  const ms = Date.parse(String(v ?? ''));\n  return Number.isFinite(ms) ? ms : 0;\n};\n\nconst matches = rows.filter(r => norm(r.email) === email);\nconst latest = matches.sort((a, b) => dateMs(b.updated_at) - dateMs(a.updated_at))[0] || {};\nconst claim_ok = normStatus(latest.status) === 'processing' && String(latest.run_id || '') === runId;\n\nreturn [{ json: {\n  ...loop,\n  claim_ok,\n  processing_started_at: String(latest.processing_started_at || loop.processing_started_at || ''),\n  claim_reason: claim_ok\n    ? 'Processing claim verified.'\n    : `Processing claim was not owned by this execution. Tracker run_id=${String(latest.run_id || 'missing')}; status=${String(latest.status || 'missing')}.`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        640
      ],
      "id": "4c523cc6-b303-427d-a675-b62fd6cf73ee",
      "name": "Verify Processing Claim"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e01b1a85-f195-480c-972b-90acd8815fc8",
              "leftValue": "={{ $json.claim_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        640
      ],
      "id": "7b435854-ccb2-46cd-9fd6-3cb10d8ac3c4",
      "name": "Processing Claim Owned?"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nreturn [{ json: {\n  ...loop,\n  status: 'Claim_Conflict',\n  failed_stage: 'processing_claim',\n  operator_action: String($json.claim_reason || 'Processing claim conflict; lead was not processed.'),\n  updated_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        912
      ],
      "id": "89418cc8-32ee-4e01-b7e4-31e3946a6786",
      "name": "Claim Conflict Result"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst payload = $json || {};\nconst err = payload.error;\nif (err) {\n  throw new Error(typeof err === 'string' ? err : (err.message || JSON.stringify(err)));\n}\nif (String(payload.status || '').trim().toLowerCase() === 'failed') {\n  throw new Error(String(payload.reason || payload.message || 'New chat worker returned failed status.'));\n}\n\nconst incoming = payload.context && typeof payload.context === 'object'\n  ? payload.context\n  : {};\nconst merged = {\n  ...loop,\n  ...incoming,\n  lead: incoming.lead || loop.lead,\n  run_id: incoming.run_id || loop.run_id,\n  execution_id: incoming.execution_id || loop.execution_id,\n  idempotency_key: incoming.idempotency_key || loop.idempotency_key,\n  attempts: incoming.attempts || loop.attempts,\n};\n\nfor (const key of ['chat_id', 'chatId', 'session_id', 'sessionId', 'conversation_id', 'conversationId']) {\n  if (payload[key] !== undefined && merged[key] === undefined) merged[key] = payload[key];\n}\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        640
      ],
      "id": "9929b207-4db6-42b6-b349-29c442be92ac",
      "name": "Adopt New Chat Context",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const created = $json || {};\nconst expected = $('Collect Attachments').item.json || $('Format Email').item.json || {};\nconst draftId = String(created.id || created.draftId || created.draft_id || '').trim();\nconst messageId = String(created.messageId || created.message_id || created.message?.id || '').trim();\nif (!draftId) throw new Error('Gmail create-draft response did not contain a draft ID.');\n\nreturn [{ json: {\n  ...expected,\n  gmail_draft_id: draftId,\n  gmail_message_id: messageId,\n  draft_create_response: created,\n  draft_created_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        640
      ],
      "id": "5453e8d2-a8b6-4a39-bd62-3788b2f02e0b",
      "name": "Preserve Draft Creation",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const verified = $json || {};\nconst created = $('Preserve Draft Creation').item.json || {};\nconst expectedSubject = String(created.email_subject || '').trim();\nconst expectedRecipient = String(created.recipient || '').trim().toLowerCase();\nconst expectedBody = String(created.email_body || '').trim();\n\nconst extractEmailsFromString = (value) => {\n  const matches = String(value || '').toLowerCase().match(/[a-z0-9.!#$%&'*+\\/=?^_`{|}~-]+@[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?(?:\\.[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?)+/g);\n  return matches || [];\n};\n\nconst collectEmails = (value, depth) => {\n  depth = depth || 0;\n  if (depth > 5 || value === null || value === undefined) return [];\n  if (typeof value === 'string' || typeof value === 'number') {\n    return extractEmailsFromString(value);\n  }\n  if (Array.isArray(value)) {\n    let out = [];\n    for (const entry of value) out = out.concat(collectEmails(entry, depth + 1));\n    return out;\n  }\n  if (typeof value === 'object') {\n    let out = [];\n    const addressKeys = ['address', 'value', 'text', 'html', 'email', 'emailAddress'];\n    for (const key of addressKeys) {\n      if (Object.prototype.hasOwnProperty.call(value, key)) {\n        out = out.concat(collectEmails(value[key], depth + 1));\n      }\n    }\n    return out;\n  }\n  return [];\n};\n\nconst headerValue = (name) => {\n  const target = String(name || '').toLowerCase();\n  const candidates = [\n    verified.headers,\n    verified.message && verified.message.headers,\n    verified.payload && verified.payload.headers,\n    verified.message && verified.message.payload && verified.message.payload.headers,\n  ];\n\n  for (const headers of candidates) {\n    if (!headers) continue;\n    if (Array.isArray(headers)) {\n      const found = headers.find((h) => String((h && h.name) || '').toLowerCase() === target);\n      if (found && found.value !== undefined) return String(found.value || '');\n      continue;\n    }\n    if (typeof headers === 'object') {\n      for (const key of Object.keys(headers)) {\n        if (String(key).toLowerCase() === target) return String(headers[key] || '');\n      }\n    }\n  }\n  return '';\n};\n\nconst actualId = String(\n  verified.id ||\n  verified.draftId ||\n  verified.draft_id ||\n  created.gmail_draft_id ||\n  ''\n).trim();\nif (!actualId) throw new Error('Gmail verification returned no draft ID.');\nif (created.gmail_draft_id && actualId !== String(created.gmail_draft_id)) {\n  throw new Error('Verified Gmail draft ID does not match the created draft ID.');\n}\n\nconst actualSubject = String(\n  verified.subject ||\n  (verified.message && verified.message.subject) ||\n  headerValue('subject') ||\n  ''\n).trim();\n\nlet actualRecipients = [];\nconst recipientSources = [\n  verified.to,\n  verified.recipient,\n  verified.recipients,\n  verified.message && verified.message.to,\n  verified.message && verified.message.recipient,\n  headerValue('to'),\n];\nfor (const source of recipientSources) {\n  actualRecipients = actualRecipients.concat(collectEmails(source, 0));\n}\nactualRecipients = Array.from(new Set(actualRecipients.map((v) => String(v).trim().toLowerCase()).filter(Boolean)));\n\n// A Gmail Get Draft response may expose HTML, rendered text, or both. Compare all\n// usable representations instead of comparing plain text directly with raw HTML.\nconst rawBodyCandidates = [\n  verified.html,\n  verified.textHtml,\n  verified.textAsHtml,\n  verified.body,\n  verified.text,\n  verified.message && verified.message.html,\n  verified.message && verified.message.textHtml,\n  verified.message && verified.message.textAsHtml,\n  verified.message && verified.message.body,\n  verified.message && verified.message.text,\n];\nconst bodyCandidates = rawBodyCandidates\n  .filter((value) => typeof value === 'string' || typeof value === 'number')\n  .map((value) => String(value).trim())\n  .filter(Boolean);\nconst actualBody = bodyCandidates[0] || '';\n\nconst decodeHtmlEntities = (value) => String(value || '')\n  .replace(/&#(\\d+);/g, (_, code) => {\n    const point = Number(code);\n    return Number.isFinite(point) ? String.fromCodePoint(point) : _;\n  })\n  .replace(/&#x([0-9a-f]+);/gi, (_, code) => {\n    const point = parseInt(code, 16);\n    return Number.isFinite(point) ? String.fromCodePoint(point) : _;\n  })\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/&amp;/gi, '&')\n  .replace(/&lt;/gi, '<')\n  .replace(/&gt;/gi, '>')\n  .replace(/&quot;/gi, '\"')\n  .replace(/&#39;|&apos;/gi, \"'\");\n\nconst canonicalBody = (value) => {\n  let text = String(value || '')\n    .replace(/\\r\\n?/g, '\\n')\n    .replace(/<style\\b[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script\\b[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<li\\b[^>]*>/gi, '\\n')\n    .replace(/<\\/(p|div|li|ul|ol|tr|table|h[1-6])\\s*>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n\n  text = decodeHtmlEntities(text)\n    .replace(/[\\u00a0\\u2007\\u202f]/g, ' ')\n    .replace(/[“”]/g, '\"')\n    .replace(/[‘’]/g, \"'\")\n    .replace(/[–—]/g, '-')\n    .replace(/^\\s*[•●▪◦*-]+\\s*/gm, '')\n    .replace(/[ \\t\\f\\v]+/g, ' ')\n    .replace(/\\s*\\n\\s*/g, '\\n')\n    .replace(/\\n{2,}/g, '\\n')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return text;\n};\n\nconst normalizeHeader = (value) => String(value || '')\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nif (actualSubject && expectedSubject && normalizeHeader(actualSubject) !== normalizeHeader(expectedSubject)) {\n  throw new Error('Verified Gmail draft subject does not match the generated subject.');\n}\n\nif (actualRecipients.length && expectedRecipient && !actualRecipients.includes(expectedRecipient)) {\n  throw new Error(\n    'Verified Gmail draft recipient does not match the selected lead. ' +\n    'Expected=' + expectedRecipient + '; actual=' + actualRecipients.join(', ')\n  );\n}\n\nconst expectedBodyCanonical = canonicalBody(expectedBody);\nconst actualBodyCanonicalCandidates = Array.from(new Set(bodyCandidates.map(canonicalBody).filter(Boolean)));\nconst bodyMatches = actualBodyCanonicalCandidates.some((candidate) =>\n  candidate === expectedBodyCanonical ||\n  candidate.includes(expectedBodyCanonical) ||\n  expectedBodyCanonical.includes(candidate)\n);\n\nif (actualBodyCanonicalCandidates.length && expectedBodyCanonical && !bodyMatches) {\n  throw new Error(\n    'Verified Gmail draft body does not match the generated email body after HTML/text normalization. ' +\n    `Expected canonical length=${expectedBodyCanonical.length}; Gmail variants=${actualBodyCanonicalCandidates.map(v => v.length).join(',')}.`\n  );\n}\n\nconst verificationWarnings = [];\nif (!actualRecipients.length) {\n  verificationWarnings.push('Gmail returned the draft but did not expose a parseable To address; draft ID, subject and body checks passed.');\n}\nif (!actualSubject) verificationWarnings.push('Gmail returned no parseable subject for comparison.');\nif (!actualBody) verificationWarnings.push('Gmail returned no parseable body for comparison.');\n\nreturn [{ json: {\n  ...created,\n  verified_draft_response: verified,\n  verified_recipients: actualRecipients,\n  gmail_verification_warning: verificationWarnings.join(' '),\n  gmail_verified: true,\n  gmail_draft_id: created.gmail_draft_id || actualId,\n  gmail_message_id: created.gmail_message_id || String(verified.messageId || verified.message_id || ''),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        640
      ],
      "id": "7b6def45-6210-4d5a-b61b-5e461a2e2c51",
      "name": "Validate Verified Gmail Draft",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Processing claim failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Failed',\n  failed_stage: 'processing_claim',\n  error_code: code,\n  error_message: message,\n  retryable: true,\n  draft_may_exist: false,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Processing claim failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        1024
      ],
      "id": "e1d18d98-15c9-4742-a71b-aec6149cb55a",
      "name": "Set Failure - Processing Claim"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'New chat initialization failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Failed',\n  failed_stage: 'new_chat',\n  error_code: code,\n  error_message: message,\n  retryable: true,\n  draft_may_exist: false,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `New chat initialization failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1024
      ],
      "id": "1b40726d-6592-47d1-a043-cbdc0b6242cd",
      "name": "Set Failure - New Chat"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Stage 1 research failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Failed',\n  failed_stage: 'stage1_research',\n  error_code: code,\n  error_message: message,\n  retryable: true,\n  draft_may_exist: false,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Stage 1 research failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1024
      ],
      "id": "e63f9e0f-d6c7-4f27-9210-d1f49afbcf8b",
      "name": "Set Failure - Stage 1"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Stage 2 review failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Failed',\n  failed_stage: 'stage2_review',\n  error_code: code,\n  error_message: message,\n  retryable: true,\n  draft_may_exist: false,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Stage 2 review failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1024
      ],
      "id": "48f8d012-de1d-4453-8cff-1c73bdece16e",
      "name": "Set Failure - Stage 2"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Stage 3 final email failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Failed',\n  failed_stage: 'stage3_final_email',\n  error_code: code,\n  error_message: message,\n  retryable: true,\n  draft_may_exist: false,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Stage 3 final email failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1024
      ],
      "id": "09652b73-d60b-417a-8f7f-8a0c14e6baa0",
      "name": "Set Failure - Stage 3"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Email formatting or validation failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Failed',\n  failed_stage: 'email_formatting',\n  error_code: code,\n  error_message: message,\n  retryable: true,\n  draft_may_exist: false,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Email formatting or validation failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1024
      ],
      "id": "824ba384-0b1d-435f-8918-25b2f70490c1",
      "name": "Set Failure - Email Formatting"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\nconst created = {};\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Gmail draft creation failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Manual_Review',\n  failed_stage: 'gmail_create',\n  error_code: code,\n  error_message: message,\n  retryable: false,\n  draft_may_exist: true,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Gmail draft creation failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1024
      ],
      "id": "8c9647d7-4d3c-400e-9408-4006ca61b45e",
      "name": "Set Failure - Gmail Create"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst current = $json || {};\n\nlet created = {};\ntry { created = $('Preserve Draft Creation').item.json || {}; } catch (e) {}\n\nconst err = current.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  current.error_message ||\n  current.message ||\n  'Gmail draft verification failed.'\n).trim();\nconst code = String(\n  (typeof err === 'object' && (err.httpCode || err.statusCode || err.code || err.name)) ||\n  current.error_code ||\n  ''\n);\nreturn [{ json: {\n  ...loop,\n  ...created,\n  status: 'Draft_Unverified',\n  failed_stage: 'gmail_verification',\n  error_code: code,\n  error_message: message,\n  retryable: false,\n  draft_may_exist: true,\n  gmail_verified: false,\n  updated_at: new Date().toISOString(),\n  operator_action: `Gmail draft verification failed: ${message}`,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        1024
      ],
      "id": "a875788d-f843-46f7-97c2-d5fdb97cd252",
      "name": "Set Failure - Gmail Verify"
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Loop Over Items').item.json || {};\nconst err = $json?.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  $json?.message ||\n  'Tracker upsert failed after retries.'\n);\nreturn [{ json: {\n  ...loop,\n  status: 'Tracker_Write_Failed',\n  failed_stage: 'tracker_upsert',\n  error_message: message,\n  operator_action: `Tracker write failed after retries: ${message}`,\n  updated_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        1024
      ],
      "id": "38fa0c3a-3a16-4e95-a397-f147d1a5058d",
      "name": "Handle Tracker Write Failure"
    },
    {
      "parameters": {
        "amount": "={{ $('Config').first().json.batch_summary_wait_seconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        160
      ],
      "id": "591ea923-19f5-4fa2-877a-03d1ad8bc717",
      "name": "Wait for Batch Visibility",
      "webhookId": "2c18b812-4920-4c74-a46d-c0a25c1b3b95"
    },
    {
      "parameters": {
        "jsCode": "const selected = $('Select Batch').all()\n  .map(i => i.json || {})\n  .filter(i => i.is_lead === true);\nconst expected = selected.length;\nconst rows = $input.all().map(i => i.json || {});\nconst norm = (v) => String(v ?? '').trim().toLowerCase();\nconst keys = new Set(selected.map(i => `${norm(i.lead?.email)}|${String(i.run_id || '')}`));\nconst visible = new Set();\nfor (const row of rows) {\n  const key = `${norm(row.email)}|${String(row.run_id || '')}`;\n  if (keys.has(key)) visible.add(key);\n}\nreturn [{ json: {\n  batch_visible: expected > 0 && visible.size >= expected,\n  expected,\n  visible: visible.size,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        160
      ],
      "id": "f3cb88ac-f2b2-4410-9a84-267b82cc80c6",
      "name": "Check Batch Visibility"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9259e1b-2325-4ff6-8332-d42c4ada177b",
              "leftValue": "={{ $json.batch_visible === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        160
      ],
      "id": "2e66890b-8b37-4de3-9b92-86e7c1e56fdd",
      "name": "Batch Rows Visible?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        368
      ],
      "id": "33d72bd7-664b-4fc9-a127-b18a2f1d6f68",
      "name": "Wait for Batch Visibility Retry",
      "webhookId": "d12fba76-b320-4108-b85e-b519d0cae981"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.tracker_tab }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        368
      ],
      "id": "9cf3d2ad-5c92-4c78-be06-ccc9a941b93f",
      "name": "Read Batch Result Retry",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8922d08-c2f2-4630-a276-a00ba793cc52",
              "leftValue": "={{ ['error', 'consistency_error'].includes($json.outcome) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        160
      ],
      "id": "41e25860-7418-4c06-ba65-4cfd7ca70cc7",
      "name": "Batch Has Hard Failure?"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "21ed5cf6-5d54-4bd6-9711-fa04a1951b9f",
      "name": "Stop: Batch Failed"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  ...$json,\n  completed_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ],
      "id": "da09e8d4-57e0-4bcc-b369-a0bfcb50eec4",
      "name": "Final Batch Result"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json || {};\nconst provider = String(cfg.ai_provider || '').trim();\nconst workerUrl = String(cfg[`${provider}_worker_url`] || '').trim();\nconst problems = [];\nif (!provider) problems.push('Config.ai_provider is missing.');\nif (!workerUrl || !/^https?:\\/\\//i.test(workerUrl)) problems.push(`Worker URL for provider \"${provider || 'missing'}\" is invalid.`);\nif (!String(cfg.sheet_id || '').trim()) problems.push('Config.sheet_id is missing.');\nif (!String(cfg.leads_tab || '').trim()) problems.push('Config.leads_tab is missing.');\nif (!String(cfg.tracker_tab || '').trim()) problems.push('Config.tracker_tab is missing.');\nif (!Number.isFinite(Number(cfg.batch_size)) || Number(cfg.batch_size) < 1) problems.push('Config.batch_size must be at least 1.');\nif (!Number.isFinite(Number(cfg.max_attempts)) || Number(cfg.max_attempts) < 1) problems.push('Config.max_attempts must be at least 1.');\nif (problems.length) throw new Error(problems.join(' '));\nreturn [{ json: { ...cfg, resolved_worker_url: workerUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3856,
        400
      ],
      "id": "e2357e66-5ff9-4fd4-80bf-b6fcbee798cc",
      "name": "Validate Config",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const err = $json?.error;\nconst message = String(\n  (typeof err === 'string' ? err : err?.message) ||\n  $json?.message ||\n  'A pipeline preflight dependency failed.'\n).trim();\nreturn [{ json: {\n  status: 'Failed',\n  failed_stage: 'preflight',\n  error_message: message,\n  operator_action: `Pipeline preflight failed: ${message}`,\n  updated_at: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        160
      ],
      "id": "0153fce6-a59a-4692-ab2d-89b398e95860",
      "name": "Set Global Preflight Failure"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.operator_action }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2656,
        160
      ],
      "id": "36bbc50e-0685-48bc-b7f5-7dcd1c9e9b51",
      "name": "Stop: Global Preflight Failure"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Pipeline": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Check": {
      "main": [
        [
          {
            "node": "Normalize Session Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Session Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Session Result": {
      "main": [
        [
          {
            "node": "Session Ready?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Session Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Ready?": {
      "main": [
        [
          {
            "node": "Read Leads Tab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Session Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session Failure": {
      "main": [
        [
          {
            "node": "Stop: Session Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Tab": {
      "main": [
        [
          {
            "node": "Read Tracker Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Global Preflight Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tracker Sheet": {
      "main": [
        [
          {
            "node": "Select Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Global Preflight Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Batch": {
      "main": [
        [
          {
            "node": "Has Eligible Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Eligible Lead?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Work Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait for Batch Visibility",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Processing Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Processing Tracker Record": {
      "main": [
        [
          {
            "node": "Upsert Processing Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Processing Claim": {
      "main": [
        [
          {
            "node": "Wait for Processing Claim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Processing Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing Claim": {
      "main": [
        [
          {
            "node": "Read Processing Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Processing Claim": {
      "main": [
        [
          {
            "node": "Verify Processing Claim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Processing Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Processing Claim": {
      "main": [
        [
          {
            "node": "Processing Claim Owned?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing Claim Owned?": {
      "main": [
        [
          {
            "node": "New Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim Conflict Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Conflict Result": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Chat": {
      "main": [
        [
          {
            "node": "Adopt New Chat Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - New Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt New Chat Context": {
      "main": [
        [
          {
            "node": "Run Stage 1 Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - New Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stage 1 Research": {
      "main": [
        [
          {
            "node": "Adopt Stage 1 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Stage 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt Stage 1 Context": {
      "main": [
        [
          {
            "node": "Run Stage 2 Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Stage 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stage 2 Review": {
      "main": [
        [
          {
            "node": "Adopt Stage 2 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt Stage 2 Context": {
      "main": [
        [
          {
            "node": "Run Stage 3 Final Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stage 3 Final Email": {
      "main": [
        [
          {
            "node": "Adopt Stage 3 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Stage 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt Stage 3 Context": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Stage 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Read Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Email Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Attachment": {
      "main": [
        [
          {
            "node": "Collect Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Attachments": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Email Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Gmail Draft (No Attachment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Preserve Draft Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Gmail Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft (No Attachment)": {
      "main": [
        [
          {
            "node": "Preserve Draft Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Gmail Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Draft Creation": {
      "main": [
        [
          {
            "node": "Verify Gmail Draft Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Gmail Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Gmail Draft Exists": {
      "main": [
        [
          {
            "node": "Validate Verified Gmail Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Gmail Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Verified Gmail Draft": {
      "main": [
        [
          {
            "node": "Set Draft Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Gmail Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Draft Created": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure - Gmail Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Processing Claim": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - New Chat": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Stage 1": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Stage 2": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Stage 3": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Email Formatting": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Gmail Create": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failure - Gmail Verify": {
      "main": [
        [
          {
            "node": "Build Final Tracker Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Tracker Record": {
      "main": [
        [
          {
            "node": "Upsert Final Tracker Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Final Tracker Row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Tracker Write Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Tracker Write Failure": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Batch Visibility": {
      "main": [
        [
          {
            "node": "Read Batch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Batch Result": {
      "main": [
        [
          {
            "node": "Check Batch Visibility",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Batch Visibility Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Batch Visibility": {
      "main": [
        [
          {
            "node": "Batch Rows Visible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Rows Visible?": {
      "main": [
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Batch Visibility Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Batch Visibility Retry": {
      "main": [
        [
          {
            "node": "Read Batch Result Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Batch Result Retry": {
      "main": [
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Summary": {
      "main": [
        [
          {
            "node": "Batch Has Hard Failure?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Has Hard Failure?": {
      "main": [
        [
          {
            "node": "Stop: Batch Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Batch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Config": {
      "main": [
        [
          {
            "node": "Session Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Global Preflight Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Preflight Failure": {
      "main": [
        [
          {
            "node": "Stop: Global Preflight Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dae2f475-7cc5-4d50-b03e-143bf2fca064",
  "meta": {
    "instanceId": "18ee24150dcb1d96752a4d6dd0f20dfd8ba8c38527e40aa8509b7adecf78f9c6"
  },
  "id": "tQnd3xbHg2A8JF86",
  "tags": []
}