workflow/lead_gen_xlsx_mode.json
{
  "name": "Lead Gen Pipeline - XLSX Mode (No Apollo)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2320,
        160
      ],
      "id": "af8c94b8-3d83-436f-b8ef-11c693595a6b",
      "name": "Start Pipeline"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0nf1g00-0000-4000-8000-000000000001",
              "name": "lead_csv_path",
              "value": "/home/node/.n8n-files/leads.csv",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000002",
              "name": "lead_row_index",
              "value": 0,
              "type": "number"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003a",
              "name": "ai_provider",
              "value": "chatgpt",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003b",
              "name": "chatgpt_worker_url",
              "value": "http://host.docker.internal:8787",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003",
              "name": "grok_worker_url",
              "value": "http://host.docker.internal:8788",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000003c",
              "name": "api_worker_url",
              "value": "http://host.docker.internal:8789",
              "type": "string"
            },
            {
              "id": "c0nf1g00-0000-4000-8000-000000000004",
              "name": "sheet_id",
              "value": "PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000001",
              "name": "batch_size",
              "value": 10,
              "type": "number"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000002",
              "name": "attachment_dir",
              "value": "/home/node/.n8n-files/assets/attachments",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000003",
              "name": "email_signature",
              "value": "Best,\n[Your Name]\n[Your Title]\nyou@example.com",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000004",
              "name": "sender_name",
              "value": "[Your Name]",
              "type": "string"
            },
            {
              "id": "c0nf-0000-4000-8000-000000000005",
              "name": "paused",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        160
      ],
      "id": "2946bef6-3e7f-409d-aebf-5b8950b13f13",
      "name": "Config"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Config').first().json.lead_csv_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2096,
        160
      ],
      "id": "2a7a55a9-9547-4e31-948c-4b5b1d18dad9",
      "name": "Read Lead File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1888,
        160
      ],
      "id": "507000a6-db9b-4861-a4c9-792d57c85059",
      "name": "Parse CSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/session-check' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { context: $json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        160
      ],
      "id": "f2c3ddb3-bdc8-4571-bcd7-f302fa710737",
      "name": "Session Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57344de9-fb8b-44ec-a39d-02ad4d153f38",
              "name": "ready",
              "value": "={{ $json.ready }}",
              "type": "boolean"
            },
            {
              "id": "7e7cdc95-6abf-4d37-a43a-53872f4ed32d",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            },
            {
              "id": "4c128364-23f8-4dbd-b326-af1c4e9f4f42",
              "name": "context",
              "value": "={{ $json.context }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        160
      ],
      "id": "83eac7fb-298a-44ff-ad09-588d6782d139",
      "name": "Normalize Session Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72f8fd81-ed5c-4e13-b2a6-f306c224f5cf",
              "leftValue": "={{ $json.ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        160
      ],
      "id": "88407806-87bf-48b7-a341-7c4029f2b0a6",
      "name": "Session Ready?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8fbd5d2-90d1-418a-9708-27de876d0308",
              "name": "status",
              "value": "Failed",
              "type": "string"
            },
            {
              "id": "0c698fb0-fc4e-4f5d-8f23-6b8e1f278649",
              "name": "operator_action",
              "value": "={{ 'Session check failed: ' + $json.reason }}",
              "type": "string"
            },
            {
              "id": "5b6d8fda-a85b-4e73-af16-fb3bc78dc4de",
              "name": "updated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e1810fdd-aa88-4dc7-ac03-e18f2c69ca2d",
              "name": "lead",
              "value": "={{ $json.context.lead }}",
              "type": "object"
            },
            {
              "id": "7ac4cf4d-d5bb-43c7-9f57-051fd5e4573a",
              "name": "run_id",
              "value": "={{ $json.context.run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        320
      ],
      "id": "7fbefae4-8d60-46b0-83d3-5edd3759ad9f",
      "name": "Set Session Failure"
    },
    {
      "parameters": {
        "errorMessage": "error check whats up!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "id": "b762ad26-c547-4673-97cf-ae5b4e5a7bba",
      "name": "Stop: Session Failure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/run-stage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { stage: 'research', context: $('Loop Over Items').item.json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        400
      ],
      "id": "aad6e110-0a3c-4434-822c-f74d504e01a6",
      "name": "Run Stage 1 Research",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db08af6d-4308-4079-b329-66d6cae0d3fc",
              "name": "run_id",
              "value": "={{ $json.context.run_id }}",
              "type": "string"
            },
            {
              "id": "5554d25d-a9eb-448f-bfda-5d8f3ecbc42e",
              "name": "grok_worker_url",
              "value": "={{ $json.context.grok_worker_url }}",
              "type": "string"
            },
            {
              "id": "6583f5e6-fa09-4989-8da7-309f7feffc5d",
              "name": "status",
              "value": "={{ $json.context.status }}",
              "type": "string"
            },
            {
              "id": "ad254fdd-9214-4079-bf4e-af58d4ff0c5f",
              "name": "operator_action",
              "value": "={{ $json.context.operator_action }}",
              "type": "string"
            },
            {
              "id": "7c4b5f82-a0de-457d-8e3f-7aad9ec0b38f",
              "name": "updated_at",
              "value": "={{ $json.context.updated_at }}",
              "type": "string"
            },
            {
              "id": "c304ec5f-2e31-455f-a9fe-426f5ec8d74a",
              "name": "lead",
              "value": "={{ $json.context.lead }}",
              "type": "object"
            },
            {
              "id": "88d7697a-f91f-4762-a2ff-40675db96bfc",
              "name": "idempotency_key",
              "value": "={{ $json.context.idempotency_key }}",
              "type": "string"
            },
            {
              "id": "e2f3cc4d-5134-46d9-849b-ab554a6ba814",
              "name": "stage1",
              "value": "={{ $json.context.stage1 }}",
              "type": "object"
            },
            {
              "id": "f7f8b841-a7db-42f3-ba95-6727fdb4671c",
              "name": "previous_output",
              "value": "={{ $json.context.previous_output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        400
      ],
      "id": "0b079a81-8716-4189-b1d0-473da570bf28",
      "name": "Adopt Stage 1 Context"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.lead.fullName }}",
            "firstName": "={{ $json.lead.firstName }}",
            "lastName": "={{ $json.lead.lastName }}",
            "email": "={{ $json.lead.email }}",
            "all_emails": "={{ $json.lead.all_emails }}",
            "phone_numbers": "={{ $json.lead.phone_numbers }}",
            "position": "={{ $json.lead.position }}",
            "linkedinUrl": "={{ $json.lead.linkedinUrl }}",
            "city": "={{ $json.lead.city }}",
            "state": "={{ $json.lead.state }}",
            "country": "={{ $json.lead.country }}",
            "seniority": "={{ $json.lead.seniority }}",
            "functional": "={{ $json.lead.functional }}",
            "organizationName": "={{ $json.lead.organizationName }}",
            "organizationWebsite": "={{ $json.lead.organizationWebsite }}",
            "organizationLinkedinUrl": "={{ $json.lead.organizationLinkedinUrl }}",
            "organizationFoundedYear": "={{ $json.lead.organizationFoundedYear }}",
            "organizationIndustry": "={{ $json.lead.organizationIndustry }}",
            "organizationSize": "={{ $json.lead.organizationSize }}",
            "organizationDescription": "={{ $json.lead.organizationDescription }}",
            "organizationSpecialities": "={{ $json.lead.organizationSpecialities }}",
            "organizationCity": "={{ $json.lead.organizationCity }}",
            "organizationState": "={{ $json.lead.organizationState }}",
            "organizationCountry": "={{ $json.lead.organizationCountry }}",
            "source": "={{ $json.lead.source }}",
            "status": "={{ $json.status }}",
            "operator_action": "={{ $json.operator_action }}",
            "run_id": "={{ $json.run_id }}",
            "updated_at": "={{ $json.updated_at }}",
            "stage1": "={{ $json.stage1.mdPath }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_emails",
              "displayName": "all_emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_numbers",
              "displayName": "phone_numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationName",
              "displayName": "organizationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationWebsite",
              "displayName": "organizationWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationLinkedinUrl",
              "displayName": "organizationLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationFoundedYear",
              "displayName": "organizationFoundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationIndustry",
              "displayName": "organizationIndustry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSize",
              "displayName": "organizationSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationDescription",
              "displayName": "organizationDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSpecialities",
              "displayName": "organizationSpecialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCity",
              "displayName": "organizationCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationState",
              "displayName": "organizationState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCountry",
              "displayName": "organizationCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grok_worker_url",
              "displayName": "grok_worker_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead",
              "displayName": "lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previous_output",
              "displayName": "previous_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        400
      ],
      "id": "0dcd046f-1af8-46cd-8809-1a48b47b4a91",
      "name": "Upsert Stage 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/run-stage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { stage: 'review', context: $('Adopt Stage 1 Context').item.json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        400
      ],
      "id": "0477bcad-041e-4bf5-bd81-0ffc2ae35905",
      "name": "Run Stage 2 Review",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f45f34f-9ccd-46fd-b7d2-3f6d6c630f1d",
              "name": "run_id",
              "value": "={{ $json.context.run_id }}",
              "type": "string"
            },
            {
              "id": "5635c4a2-5b1c-4647-9b80-cf6d62d88af2",
              "name": "grok_worker_url",
              "value": "={{ $json.context.grok_worker_url }}",
              "type": "string"
            },
            {
              "id": "7fbf52e0-0fd1-47fc-a68c-8e620ecf2a7f",
              "name": "status",
              "value": "={{ $json.context.status }}",
              "type": "string"
            },
            {
              "id": "75f2f35a-c652-472f-8ded-8ca0f0d12e3a",
              "name": "operator_action",
              "value": "={{ $json.context.operator_action }}",
              "type": "string"
            },
            {
              "id": "6059b2bb-2ab9-46f4-986a-db4c1eb9777c",
              "name": "updated_at",
              "value": "={{ $json.context.updated_at }}",
              "type": "string"
            },
            {
              "id": "b8f9f0ec-cf17-4cb3-918f-793f68943730",
              "name": "lead",
              "value": "={{ $json.context.lead }}",
              "type": "object"
            },
            {
              "id": "57a8fbc6-a57a-48cf-977f-6f6b15ec3fb5",
              "name": "idempotency_key",
              "value": "={{ $json.context.idempotency_key }}",
              "type": "string"
            },
            {
              "id": "9f4cf777-f165-4a29-9335-8f558d99b6bf",
              "name": "stage1",
              "value": "={{ $json.context.stage1 }}",
              "type": "object"
            },
            {
              "id": "3d53a46e-f667-4f08-bb50-32bc9381c2d4",
              "name": "stage2",
              "value": "={{ $json.context.stage2 }}",
              "type": "object"
            },
            {
              "id": "cc118883-f2fd-4a2e-95f5-cbf07cf4aa1f",
              "name": "previous_output",
              "value": "={{ $json.context.previous_output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        400
      ],
      "id": "3be6645a-16c8-4a46-9971-73f4d15ed405",
      "name": "Adopt Stage 2 Context"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.lead.fullName }}",
            "firstName": "={{ $json.lead.firstName }}",
            "lastName": "={{ $json.lead.lastName }}",
            "email": "={{ $json.lead.email }}",
            "all_emails": "={{ $json.lead.all_emails }}",
            "phone_numbers": "={{ $json.lead.phone_numbers }}",
            "position": "={{ $json.lead.position }}",
            "linkedinUrl": "={{ $json.lead.linkedinUrl }}",
            "city": "={{ $json.lead.city }}",
            "state": "={{ $json.lead.state }}",
            "country": "={{ $json.lead.country }}",
            "seniority": "={{ $json.lead.seniority }}",
            "functional": "={{ $json.lead.functional }}",
            "organizationName": "={{ $json.lead.organizationName }}",
            "organizationWebsite": "={{ $json.lead.organizationWebsite }}",
            "organizationLinkedinUrl": "={{ $json.lead.organizationLinkedinUrl }}",
            "organizationFoundedYear": "={{ $json.lead.organizationFoundedYear }}",
            "organizationIndustry": "={{ $json.lead.organizationIndustry }}",
            "organizationSize": "={{ $json.lead.organizationSize }}",
            "organizationDescription": "={{ $json.lead.organizationDescription }}",
            "organizationSpecialities": "={{ $json.lead.organizationSpecialities }}",
            "organizationCity": "={{ $json.lead.organizationCity }}",
            "organizationState": "={{ $json.lead.organizationState }}",
            "organizationCountry": "={{ $json.lead.organizationCountry }}",
            "source": "={{ $json.lead.source }}",
            "status": "={{ $json.status }}",
            "operator_action": "={{ $json.operator_action }}",
            "run_id": "={{ $json.run_id }}",
            "updated_at": "={{ $json.updated_at }}",
            "stage2": "={{ $json.stage2.mdPath }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_emails",
              "displayName": "all_emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_numbers",
              "displayName": "phone_numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationName",
              "displayName": "organizationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationWebsite",
              "displayName": "organizationWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationLinkedinUrl",
              "displayName": "organizationLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationFoundedYear",
              "displayName": "organizationFoundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationIndustry",
              "displayName": "organizationIndustry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSize",
              "displayName": "organizationSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationDescription",
              "displayName": "organizationDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSpecialities",
              "displayName": "organizationSpecialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCity",
              "displayName": "organizationCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationState",
              "displayName": "organizationState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCountry",
              "displayName": "organizationCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grok_worker_url",
              "displayName": "grok_worker_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead",
              "displayName": "lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previous_output",
              "displayName": "previous_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        400
      ],
      "id": "28d9666d-0189-4042-8b9c-602027bbc36e",
      "name": "Upsert Stage 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/run-stage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { stage: 'final_email', context: $('Adopt Stage 2 Context').item.json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        400
      ],
      "id": "e54f8466-6a85-4d2e-b601-79e3328ae6af",
      "name": "Run Stage 3 Final Email",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed3f68b6-3424-4372-a4a9-d32cc6e89b36",
              "name": "run_id",
              "value": "={{ $json.context.run_id }}",
              "type": "string"
            },
            {
              "id": "d84d89be-5937-4fd1-a75e-af7f943ebde9",
              "name": "grok_worker_url",
              "value": "={{ $json.context.grok_worker_url }}",
              "type": "string"
            },
            {
              "id": "a6d7a2ce-78d1-4cd8-bf5d-cc9de175cf75",
              "name": "status",
              "value": "={{ $json.context.status }}",
              "type": "string"
            },
            {
              "id": "2db17e4f-e35c-4d5a-b07e-2fdf31ff5e97",
              "name": "operator_action",
              "value": "={{ $json.context.operator_action }}",
              "type": "string"
            },
            {
              "id": "e0e658b7-c8a4-48d7-b6c8-978a37e89fc2",
              "name": "updated_at",
              "value": "={{ $json.context.updated_at }}",
              "type": "string"
            },
            {
              "id": "a05f4d50-1e95-49f8-aae8-d791c4dd1af0",
              "name": "lead",
              "value": "={{ $json.context.lead }}",
              "type": "object"
            },
            {
              "id": "595f7212-936e-467f-8f76-3b9f321efd9d",
              "name": "idempotency_key",
              "value": "={{ $json.context.idempotency_key }}",
              "type": "string"
            },
            {
              "id": "8f6d11d8-f26d-4de0-a7a3-e9cd1f30ae46",
              "name": "stage1",
              "value": "={{ $json.context.stage1 }}",
              "type": "object"
            },
            {
              "id": "eb662fc5-bff7-4976-a4bd-f0f42d7a2c9e",
              "name": "stage2",
              "value": "={{ $json.context.stage2 }}",
              "type": "object"
            },
            {
              "id": "a9522cf9-b425-4f26-8748-ca76ba0ab815",
              "name": "stage3",
              "value": "={{ $json.context.stage3 }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        400
      ],
      "id": "0d2730f8-1685-4d05-a176-4097a30906b4",
      "name": "Adopt Stage 3 Context"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.lead.fullName }}",
            "firstName": "={{ $json.lead.firstName }}",
            "lastName": "={{ $json.lead.lastName }}",
            "email": "={{ $json.lead.email }}",
            "all_emails": "={{ $json.lead.all_emails }}",
            "phone_numbers": "={{ $json.lead.phone_numbers }}",
            "position": "={{ $json.lead.position }}",
            "linkedinUrl": "={{ $json.lead.linkedinUrl }}",
            "city": "={{ $json.lead.city }}",
            "state": "={{ $json.lead.state }}",
            "country": "={{ $json.lead.country }}",
            "seniority": "={{ $json.lead.seniority }}",
            "functional": "={{ $json.lead.functional }}",
            "organizationName": "={{ $json.lead.organizationName }}",
            "organizationWebsite": "={{ $json.lead.organizationWebsite }}",
            "organizationLinkedinUrl": "={{ $json.lead.organizationLinkedinUrl }}",
            "organizationFoundedYear": "={{ $json.lead.organizationFoundedYear }}",
            "organizationIndustry": "={{ $json.lead.organizationIndustry }}",
            "organizationSize": "={{ $json.lead.organizationSize }}",
            "organizationDescription": "={{ $json.lead.organizationDescription }}",
            "organizationSpecialities": "={{ $json.lead.organizationSpecialities }}",
            "organizationCity": "={{ $json.lead.organizationCity }}",
            "organizationState": "={{ $json.lead.organizationState }}",
            "organizationCountry": "={{ $json.lead.organizationCountry }}",
            "source": "={{ $json.lead.source }}",
            "status": "={{ $json.status }}",
            "operator_action": "={{ $json.operator_action }}",
            "run_id": "={{ $json.run_id }}",
            "updated_at": "={{ $json.updated_at }}",
            "stage3": "={{ $json.stage3.mdPath }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_emails",
              "displayName": "all_emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_numbers",
              "displayName": "phone_numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationName",
              "displayName": "organizationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationWebsite",
              "displayName": "organizationWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationLinkedinUrl",
              "displayName": "organizationLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationFoundedYear",
              "displayName": "organizationFoundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationIndustry",
              "displayName": "organizationIndustry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSize",
              "displayName": "organizationSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationDescription",
              "displayName": "organizationDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSpecialities",
              "displayName": "organizationSpecialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCity",
              "displayName": "organizationCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationState",
              "displayName": "organizationState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCountry",
              "displayName": "organizationCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grok_worker_url",
              "displayName": "grok_worker_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead",
              "displayName": "lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previous_output",
              "displayName": "previous_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        240
      ],
      "id": "57919b2b-21bd-41dd-ad8f-3277f4961b5b",
      "name": "Upsert Stage 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Format Email').item.json.email_subject }}",
        "message": "={{ $('Format Email').item.json.email_body }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          },
          "sendTo": "={{ $('Format Email').item.json.recipient }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1700,
        300
      ],
      "id": "bc9d289d-93c4-4749-82ff-89f6dcebac4c",
      "name": "Create Gmail Draft",
      "webhookId": "32bf04d3-b157-4bff-b74b-926dfedc4bae",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d78091d-cabf-4f9d-9166-f820b299ae95",
              "name": "status",
              "value": "Draft_Created",
              "type": "string"
            },
            {
              "id": "d88a0f39-6f93-452a-845d-f3ce4d8753a0",
              "name": "updated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4fc22567-8697-4c5a-a91f-fcf57f5f96e3",
              "name": "operator_action",
              "value": "Draft created successfully. Review in Gmail before sending.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        400
      ],
      "id": "c4967130-fcab-4e2a-b4b3-0f115fa37fbf",
      "name": "Set Draft Created"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.lead.fullName }}",
            "firstName": "={{ $json.lead.firstName }}",
            "lastName": "={{ $json.lead.lastName }}",
            "email": "={{ $('Format Email').item.json.recipient }}",
            "all_emails": "={{ $json.lead.all_emails }}",
            "phone_numbers": "={{ $json.lead.phone_numbers }}",
            "position": "={{ $json.lead.position }}",
            "linkedinUrl": "={{ $json.lead.linkedinUrl }}",
            "city": "={{ $json.lead.city }}",
            "state": "={{ $json.lead.state }}",
            "country": "={{ $json.lead.country }}",
            "seniority": "={{ $json.lead.seniority }}",
            "functional": "={{ $json.lead.functional }}",
            "organizationName": "={{ $json.lead.organizationName }}",
            "organizationWebsite": "={{ $json.lead.organizationWebsite }}",
            "organizationLinkedinUrl": "={{ $json.lead.organizationLinkedinUrl }}",
            "organizationFoundedYear": "={{ $json.lead.organizationFoundedYear }}",
            "organizationIndustry": "={{ $json.lead.organizationIndustry }}",
            "organizationSize": "={{ $json.lead.organizationSize }}",
            "organizationDescription": "={{ $json.lead.organizationDescription }}",
            "organizationSpecialities": "={{ $json.lead.organizationSpecialities }}",
            "organizationCity": "={{ $json.lead.organizationCity }}",
            "organizationState": "={{ $json.lead.organizationState }}",
            "organizationCountry": "={{ $json.lead.organizationCountry }}",
            "source": "={{ $json.lead.source }}",
            "status": "Draft_Created",
            "operator_action": "Draft created. Review in Gmail before sending.",
            "run_id": "={{ $('Format Email').item.json.run_id }}",
            "updated_at": "={{ $now.toISO() }}",
            "id": "={{ $json.id || $json.threadId || '' }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_emails",
              "displayName": "all_emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_numbers",
              "displayName": "phone_numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationName",
              "displayName": "organizationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationWebsite",
              "displayName": "organizationWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationLinkedinUrl",
              "displayName": "organizationLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationFoundedYear",
              "displayName": "organizationFoundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationIndustry",
              "displayName": "organizationIndustry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSize",
              "displayName": "organizationSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationDescription",
              "displayName": "organizationDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSpecialities",
              "displayName": "organizationSpecialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCity",
              "displayName": "organizationCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationState",
              "displayName": "organizationState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCountry",
              "displayName": "organizationCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grok_worker_url",
              "displayName": "grok_worker_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead",
              "displayName": "lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previous_output",
              "displayName": "previous_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        400
      ],
      "id": "adc88f9a-cb0a-42e3-859f-0b7d604a0a69",
      "name": "Upsert Draft Created",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1664,
        160
      ],
      "id": "a5e0-0000-4000-8000-000000000006",
      "name": "Read Tracker Sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Status-based batch selection (replaces the single-row picker).\n// Reads all CSV leads + the tracker sheet, skips leads already drafted,\n// and emits up to `batch_size` fresh leads — one item each — for the loop.\nconst csvRows = $('Parse CSV').all().map(i => i.json);\nif (!csvRows.length) {\n  throw new Error('CSV produced no rows. Check lead_csv_path / the mounted leads.csv.');\n}\nconst cfg = $('Config').first().json;\n\n// Pause switch: emit nothing so the loop is a clean no-op.\nconst paused = cfg.paused === true || String(cfg.paused).toLowerCase() === 'true';\nif (paused) return [];\n\nconst batchSize = Math.max(1, Number(cfg.batch_size || 10));\n\n// \"Already done\" = tracker rows whose status is Draft_Created.\n// The tracker sheet uses lowercase headers (email, status, ...).\nlet trackerRows = [];\ntry { trackerRows = $('Read Tracker Sheet').all().map(i => i.json); } catch (e) { trackerRows = []; }\nconst done = new Set(\n  trackerRows\n    .filter(r => String(r.status || '').trim() === 'Draft_Created')\n    .map(r => String(r.email || '').trim().toLowerCase())\n    .filter(Boolean)\n);\n\nconst pad = (n) => String(n).padStart(2, '0');\nconst now = new Date();\nconst runId = `${now.getFullYear()}${pad(now.getMonth() + 1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\nconst seen = new Set();\nconst out = [];\nfor (const row of csvRows) {\n  const email = String(row.email || '').trim();\n  if (!email) continue;\n  const key = email.toLowerCase();\n  if (done.has(key) || seen.has(key)) continue; // skip processed + duplicates\n  seen.add(key);\n\n  const lead = {\n    ...row,\n    name: row.fullName || [row.firstName, row.lastName].filter(Boolean).join(' ').trim() || email,\n    title: row.position || '',\n    organization_name: row.organizationName || row.company || 'Unknown Company',\n    email,\n    organization_industry: row.organizationIndustry || '',\n    organization_size: row.organizationSize || '',\n    organization_founded_year: row.organizationFoundedYear || '',\n    organization_description: row.organizationDescription || '',\n    organization_specialities: row.organizationSpecialities || '',\n    organization_website: row.organizationWebsite || '',\n    organization_linkedin: row.organizationLinkedinUrl || '',\n    linkedin_url: row.linkedinUrl || '',\n    seniority: row.seniority || '',\n    functional: row.functional || '',\n    phone_numbers: row.phone_numbers || '',\n    all_emails: row.all_emails || '',\n    city: row.city || row.organizationCity || '',\n    state: row.state || row.organizationState || '',\n    country: row.country || row.organizationCountry || '',\n  };\n\n  out.push({ json: {\n    run_id: runId,\n    grok_worker_url: cfg[(cfg.ai_provider || 'chatgpt') + '_worker_url'] || cfg.chatgpt_worker_url || 'http://host.docker.internal:8787',\n    status: 'Fetched',\n    operator_action: `Batch lead ${out.length + 1}/${batchSize}.`,\n    updated_at: new Date().toISOString(),\n    lead,\n    raw_apollo_json: JSON.stringify(lead),\n    idempotency_key: `${key}_${(lead.organization_name || '').toLowerCase().replace(/[^a-z0-9]+/g, '_')}_${runId.slice(0, 8)}`,\n  } });\n\n  if (out.length >= batchSize) break;\n}\n\nif (!out.length) {\n  // Nothing left to do — surface a clear, non-fatal marker row count of 0.\n  return [];\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        160
      ],
      "id": "5e1b-0000-4000-8000-000000000007",
      "name": "Select Batch"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1216,
        160
      ],
      "id": "100b-0000-4000-8000-000000000008",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json[$('Config').first().json.ai_provider + '_worker_url'] + '/new-chat' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { context: $('Loop Over Items').item.json } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        400
      ],
      "id": "c4a7-0000-4000-8000-000000000009",
      "name": "New Chat",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Turn Grok's Stage 3 output into clean Gmail fields.\n// Stage 3 emits: \"To: ...\\nSubject: ...\\n\\n<body>\\n\\nBest,\\nSender Name\".\n// We extract the subject, strip the To:/Subject: header block and Grok's\n// placeholder sign-off, then append the operator's own signature.\nconst a3 = $('Adopt Stage 3 Context').item.json;\nconst cfg = $('Config').first().json;\nconst lead = a3.lead || {};\nconst raw = (a3.stage3 && a3.stage3.responseText) ? String(a3.stage3.responseText) : '';\n\n// Subject line\nconst subjMatch = raw.match(/^\\s*Subject:\\s*(.+)$/m);\nconst subject = subjMatch ? subjMatch[1].trim() : '';\n\n// Body: everything after the Subject line's following blank line; else strip a\n// stray leading \"To:\" line.\nlet body;\nif (subjMatch) {\n  const idx = raw.indexOf(subjMatch[0]) + subjMatch[0].length;\n  body = raw.slice(idx).replace(/^\\s*\\n/, '').replace(/^\\s+/, '');\n} else {\n  body = raw.replace(/^\\s*To:.*$/m, '').replace(/^\\s+/, '');\n}\n\n// Remove Grok's trailing sign-off (\"Best,\" and an optional name line) so we can\n// append our own signature consistently.\nbody = body.replace(/\\n+\\s*Best,?\\s*(\\n[^\\n]*)?\\s*$/i, '').replace(/\\s+$/, '');\n\nconst signature = String(cfg.email_signature || '').trim();\nconst email_body = signature ? `${body}\\n\\n${signature}` : body;\nconst fallbackSubject = 'Quick question about ' + (lead.organization_name || 'your company');\n\nreturn [{ json: {\n  ...a3,\n  email_subject: subject || fallbackSubject,\n  email_body,\n  recipient: lead.email || '',\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        400
      ],
      "id": "f0e1-0000-4000-8000-000000000010",
      "name": "Format Email"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Config').first().json.attachment_dir + '/*' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1248,
        400
      ],
      "id": "a77a-0000-4000-8000-000000000011",
      "name": "Read Attachment",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.lead.fullName }}",
            "firstName": "={{ $json.lead.firstName }}",
            "lastName": "={{ $json.lead.lastName }}",
            "email": "={{ $('Loop Over Items').item.json.lead.email }}",
            "all_emails": "={{ $json.lead.all_emails }}",
            "phone_numbers": "={{ $json.lead.phone_numbers }}",
            "position": "={{ $json.lead.position }}",
            "linkedinUrl": "={{ $json.lead.linkedinUrl }}",
            "city": "={{ $json.lead.city }}",
            "state": "={{ $json.lead.state }}",
            "country": "={{ $json.lead.country }}",
            "seniority": "={{ $json.lead.seniority }}",
            "functional": "={{ $json.lead.functional }}",
            "organizationName": "={{ $json.lead.organizationName }}",
            "organizationWebsite": "={{ $json.lead.organizationWebsite }}",
            "organizationLinkedinUrl": "={{ $json.lead.organizationLinkedinUrl }}",
            "organizationFoundedYear": "={{ $json.lead.organizationFoundedYear }}",
            "organizationIndustry": "={{ $json.lead.organizationIndustry }}",
            "organizationSize": "={{ $json.lead.organizationSize }}",
            "organizationDescription": "={{ $json.lead.organizationDescription }}",
            "organizationSpecialities": "={{ $json.lead.organizationSpecialities }}",
            "organizationCity": "={{ $json.lead.organizationCity }}",
            "organizationState": "={{ $json.lead.organizationState }}",
            "organizationCountry": "={{ $json.lead.organizationCountry }}",
            "source": "={{ $json.lead.source }}",
            "status": "Failed",
            "operator_action": "={{ 'Stage failed: ' + ($json.error?.message || $json.error || 'unknown error') }}",
            "run_id": "={{ $('Loop Over Items').item.json.run_id }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_emails",
              "displayName": "all_emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_numbers",
              "displayName": "phone_numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional",
              "displayName": "functional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationName",
              "displayName": "organizationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationWebsite",
              "displayName": "organizationWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationLinkedinUrl",
              "displayName": "organizationLinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationFoundedYear",
              "displayName": "organizationFoundedYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationIndustry",
              "displayName": "organizationIndustry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSize",
              "displayName": "organizationSize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationDescription",
              "displayName": "organizationDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationSpecialities",
              "displayName": "organizationSpecialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCity",
              "displayName": "organizationCity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationState",
              "displayName": "organizationState",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationCountry",
              "displayName": "organizationCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_action",
              "displayName": "operator_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grok_worker_url",
              "displayName": "grok_worker_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead",
              "displayName": "lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage1",
              "displayName": "stage1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "previous_output",
              "displayName": "previous_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage2",
              "displayName": "stage2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage3",
              "displayName": "stage3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        640
      ],
      "id": "a5e0-0000-4000-8000-000000000012",
      "name": "Upsert Failed Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "=PASTE_YOUR_LEAD_TRACKER_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_TRACKER_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        160
      ],
      "id": "b5e0-0000-4000-8000-000000000901",
      "name": "Read Batch Result",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// End-of-batch honesty check. Continue-on-error keeps the batch running past a\n// bad lead, but the execution would otherwise show green even if no draft was\n// made. Here we tally this run's outcomes from the tracker sheet and throw if\n// any lead didn't end as Draft_Created, so the run finishes RED with a count.\nconst runId = $('Select Batch').first().json.run_id;\nconst expected = $('Select Batch').all().length;\n\nlet rows = [];\ntry { rows = $('Read Batch Result').all().map(i => i.json); }\ncatch (e) { rows = $input.all().map(i => i.json); }\n\nconst mine = rows.filter(r => String(r.run_id || '') === String(runId));\nconst drafted = mine.filter(r => String(r.status || '') === 'Draft_Created').length;\nconst failed = mine.filter(r => String(r.status || '') === 'Failed').length;\nconst summary = `Batch ${runId}: ${drafted} drafted, ${failed} failed (of ${expected} leads).`;\n\nif (drafted < expected) {\n  throw new Error(\n    summary + ' Not every lead produced a draft — see the tracker sheet ' +\n    '(status != Draft_Created). Those leads are retried automatically next run.'\n  );\n}\n\nreturn [{ json: { run_id: runId, expected, drafted, failed, summary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        160
      ],
      "id": "b5c0-0000-4000-8000-000000000902",
      "name": "Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "// Merge every file read from the attachments folder into ONE item (so one email\n// gets all of them), carrying the Format Email fields. Each input item is one\n// file with binary under 'data'; we re-key them attachment_0, attachment_1, ...\n// If the folder was empty, Read Attachment still emits one (empty) item via\n// alwaysOutputData, so count stays 0 and the draft is sent without attachments.\nconst items = $input.all();\nconst fe = $('Format Email').item.json;\n\nconst binary = {};\nlet count = 0;\nfor (const it of items) {\n  if (it.binary) {\n    for (const key of Object.keys(it.binary)) {\n      binary['attachment_' + count] = it.binary[key];\n      count++;\n    }\n  }\n}\n\nconst out = { json: { ...fe, attachment_count: count } };\nif (count > 0) out.binary = binary;\nreturn [out];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        400
      ],
      "id": "c011-0000-4000-8000-000000000701",
      "name": "Collect Attachments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-0000-4000-8000-000000000702",
              "leftValue": "={{ $json.attachment_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        400
      ],
      "id": "1f00-0000-4000-8000-000000000703",
      "name": "Has Attachments?"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "={{ $('Format Email').item.json.email_subject }}",
        "emailType": "text",
        "message": "={{ $('Format Email').item.json.email_body }}",
        "options": {
          "sendTo": "={{ $('Format Email').item.json.recipient }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1700,
        500
      ],
      "id": "6a11-0000-4000-8000-000000000704",
      "name": "Create Gmail Draft (No Attachment)",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Start Pipeline": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Session Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Check": {
      "main": [
        [
          {
            "node": "Normalize Session Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Session Result": {
      "main": [
        [
          {
            "node": "Session Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Ready?": {
      "main": [
        [
          {
            "node": "Read Lead File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Session Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session Failure": {
      "main": [
        [
          {
            "node": "Stop: Session Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Lead File": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Read Tracker Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tracker Sheet": {
      "main": [
        [
          {
            "node": "Select Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Batch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read Batch Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Chat": {
      "main": [
        [
          {
            "node": "Run Stage 1 Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stage 1 Research": {
      "main": [
        [
          {
            "node": "Adopt Stage 1 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt Stage 1 Context": {
      "main": [
        [
          {
            "node": "Upsert Stage 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Stage 1": {
      "main": [
        [
          {
            "node": "Run Stage 2 Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stage 2 Review": {
      "main": [
        [
          {
            "node": "Adopt Stage 2 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt Stage 2 Context": {
      "main": [
        [
          {
            "node": "Upsert Stage 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Stage 2": {
      "main": [
        [
          {
            "node": "Run Stage 3 Final Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stage 3 Final Email": {
      "main": [
        [
          {
            "node": "Adopt Stage 3 Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adopt Stage 3 Context": {
      "main": [
        [
          {
            "node": "Upsert Stage 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Stage 3": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Read Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Attachment": {
      "main": [
        [
          {
            "node": "Collect Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Set Draft Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Draft Created": {
      "main": [
        [
          {
            "node": "Upsert Draft Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Draft Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Failed Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Batch Result": {
      "main": [
        [
          {
            "node": "Batch Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Summary": {
      "main": [
        []
      ]
    },
    "Collect Attachments": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Gmail Draft (No Attachment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft (No Attachment)": {
      "main": [
        [
          {
            "node": "Set Draft Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Failed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}